{% extends "header.html" %}
{% load static %}
{% block content %}
<style>
    {% comment %} .hero-header {
        background: url('{% static 'your-background-image.jpg' %}') no-repeat center center;
        background-size: cover;
    } {% endcomment %}

    .table thead th {
        background-color: #343a40;
        color: #fff;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, .05);
    }
</style>

<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-3 text-white animated slideInDown">Booking Slot</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="{% url "index" %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Booking Slot</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    {% if booking %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Username</th>
                    <th>Package Name</th>
                    <th>Package Price</th>
                    <th>Age</th>
                    <th>Contact</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for i in booking %}
                <tr>
                    <td>{{ i.username }}</td>
                    <td>{{ i.packagename }}</td>
                    <td>{{ i.packageprice }} $</td>
                    <td>{{ i.age }}</td>
                    <td>{{ i.contact }}</td>
                    <td>{{ i.address }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <h1 class="text-center">Slot is empty</h1>
    {% endif %}
</div>
{% endblock %}
